<link href="~/Content/Comment.css" rel="stylesheet" />
<div class="panel panel-default comment-section">
    <div class="panel-heading">
        
        <div class="whitestar" style="float:right">
            <input id="input-id" type="number" class="rating" min=0 max=5 step="0.5" data-size="s" data-rtl="false"
                   value="3.5" data-readonly="true" data-show-clear="false" data-show-caption="false">
        </div>

        <h2 class="panel-title">A Decent OS</h2>
    </div>

    <section class="Comment-Content">
        <p>Windows 8 is a decent OS but i still prefer Windows 7</p>
    </section>
</div>
