<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="~/Images/windows8box.jpg" alt="" />
        <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Här ska stå lite info om produkten</p>
            <p><a href="#" class="btn btn-primary" role="button">Add to Cart <span class="glyphicon glyphicon-shopping-cart"></span></a> <a href="@Url.Action("ProductInfo","Home")" class=" btn btn-default" role="button">Info</a> <span class="price"> 999:-</span></p>
        </div>
    </div>
</div>
