@model EduShop_Unsecure.Models.SearchModel

@using (Html.BeginForm())
{

    <div class="input-group" style="margin-right:20px">
        @using (Html.BeginForm("Product","Home"))
        {
            @Html.TextBoxFor(m => Model.SearchTerm, new { @class = "form-control" })
            <input id="Searchbox" type="search" name="search" @Model.SearchTerm=value/>
            <a class="input-group-addon glyphicon glyphicon-search" href="@Url.Action("Product", "Home",new {search = Model.SearchTerm })"></a>
        }
    </div>
}
