@model EduShop_Unsecure.Models.SearchModel



@using (Html.BeginForm("Product", "Home", FormMethod.Get))
{
    <div class="input-group" style="margin-right:20px">

        <input id="Searchbox" type="search" name="search" class="form-control" placeholder="Search" />

        <a class="input-group-addon glyphicon glyphicon-search" href="@Url.Action("Product", "Home")"></a>
    </div>
}


