@{
    ViewBag.Title = "ProductModel";
}

<div style="padding-top: 100px;">
    <div class="col-sm-4 col-md-3 sidebar" style="position:absolute; top:100px; left:30px; width:300px;">
        <div class="list-group">
            <span href="#" class="list-group-item active">
                Software
            </span>
            <a href="#" class="list-group-item">
                Operating System
            </a>
            <a href="#" class="list-group-item" style="border-top:none;">
                Anti-Malware Software
            </a>
            <a href="#" class="list-group-item">
                Adobe
            </a>
            <a href="#" class="list-group-item">
                Office
            </a>
            <a href="#" class="list-group-item">
                Plugins <span class="badge">New!</span>
            </a>
        </div>
    </div>
</div>





<article>
    <section>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Products</h4>
            </div>
        </div>
    </section>
</article>


