body {
    
}

footer{
        color:white;
}

.navbar-toggle {
    background-color: #521984;
}

.navbar-inverse {
    background-color: #f5f5f5;
    border-color: #ddd;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #fff;
        background-color: transparent;
        background-color: #521984;
        border-right: dotted 1px black;
    }

    .navbar-inverse .navbar-nav > li > a {
        border-right: dotted 1px #ddd;
    }

        .navbar-inverse .navbar-nav > li > a:first-child {
            border-left: dotted 1px #ddd;
        }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #521984;
    }

.input-group {
    width: 30%;
    margin-top: 6px;
    float: right;
}

.dropdown-menu {
    -moz-min-width: 360px;
    -ms-min-width: 360px;
    -o-min-width: 360px;
    -webkit-min-width: 360px;
    min-width: 360px;
    padding: 20px;
}

input[type="checkbox"] {
    position: relative;
    top: 5px;
    display: inline-block;
    width: 19px;
    height: 19px;
}

.contentcontainer {
    background-color:white;
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    -ms-box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    border: solid 1px #ddd;
    margin-top: 80px;
}

.circletext {
    font-size: 2rem;
    max-width: 150px;
    margin: auto;
}

.circle {
    background: linear-gradient(rgba(82,25,132,0.7),#521984);
    padding-top: 50px;
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
    -ms-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 10px 10px 10px #dddddd;
    -ms-box-shadow: 10px 10px 10px #dddddd;
    box-shadow: 10px 10px 10px #dddddd;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

    .circle:hover {
        -webkit-transition: background-color 500ms linear;
        -moz-transition: background-color 500ms linear;
        -o-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
        background-color:rgba(72,15,122,1);
    }

.col-md-4 {
    margin: 15px 0;
    border-left: 1px solid #ddd;
}

    .col-md-4:first-child {
        margin: 15px 0;
        border-left: none;
    }
